/* Main.css */
.header {
    height: 100%;
    width: 100%;
    background: url('image.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
  }